{% extends 'base.html.twig' %}

{% block title %}Eventoo - Inscription
{% endblock %}


{% block body %}
	<header class="home-theme">
		{% include 'component/_header.html.twig' %}
	</header>

	<div>
		<div class="form-login col-4 mx-auto ">
			<h1 id="inscription">Inscrivez-vous</h1>

			{{ form_start(form) }}

			<div class="row register-row p-2 m-4 text-center">{{ form_row(form.lastname, {'label': ' ','attr': {'placeholder': 'Prénom '}}) }}</div>

			<div class="row register-row p-2 m-4 text-center">{{ form_row(form.firstname, {'label': ' ','attr': {'placeholder': 'Nom de famille'}}) }}</div>

			<div class="row register-row p-2 m-4 text-center">{{ form_row(form.email, {'label': ' ','attr': {'placeholder': 'E-mail'}}) }}</div>

			<div class="row register-row p-2 m-4 text-center">{{ form_row(form.password, {'label': ' ','attr': {'placeholder': 'Mot de passe'}}) }}</div>

			<div class="button register-btn text-center px-2 py-1">
				<button class="btn" type="submit">
					S'inscrire
				</button>
			</div>

			{{ form_end(form) }}

			<div class="d-flex justify-content-center my-4">
				<p>Déja membre ?
					<a href="{{ path('app_login') }}" class="fw-bold">Se connecter</a>
				</p>
			</div>
		</div>

	{% endblock %}
