{% extends 'component/_diary.html.twig' %}

{% block title %}Mariage{{ parent() }}{% endblock %}

{% block banner %}
    <!--Journal banner -->
    <div class="diary-banner">
        <div id="wedding-image">
            {% if event.eventPicture == '' %}
                <img class="img" src="{{ asset('build/images/banner/WeddingDefault.png') }}"  alt="Diary wedding banner">
            {% else %}
                <img src="{{ asset('uploads/files/' ~ event.eventPicture ~ ' ') }}"  alt="Diary wedding banner">
            {% endif %}
                 </div>
        </div>
        <div class="parent">
            <div class="dateBox1">
                <p>Date et heure</p>
                <p><strong>Lundi 13 Juin 2021</strong></p>
                <p>13h00 à 14h00</p>
                <div class="button">
                <button type="button" class="btn btn-secondary mb-2">Afficher le programme</button>
            </div>
        <br><br><br><br>
            <div class="dateBox">
                <p>Collecte de fonds</p>
                <p>Collectés <p style="color:rgb(65, 201, 225);">8239 euros</p>
                <p><strong>Participations</strong> <p style="color:rgb(65, 201, 225);">33 euros</p>
                <div class="button">
                <button type="button" class="btn btn-secondary mb-2">Gérer</button>
            </div>
        </div>
    </div>



        <div class="buttons">
                <button type="button" class="btn btn-light"><img class="img" src="{{ asset('build/images/buttons/Vector1.png') }}"> Comment ça marche</button><br><br>
                <button type="button" class="btn btn-primary"><p style="color:azure;">Compiler en livre d'or</p></button><br><br>
                <button type="button" class="btn btn-light"><img class="img" src="{{ asset('build/images/buttons/Vector2.png') }}"> Ajouter les photos du jour</button><br>
            </div>
        <div class="box">
            <br>
            <p ><img class="img" src="{{ asset('build/images/buttons/roue.png') }}">Gérer</p><br>
            <p ><img class="img" src="{{ asset('build/images/buttons/faire-part1.png') }}">Liste des invités</p><br>
            <p ><img class="img" src="{{ asset('build/images/buttons/programme.png') }}">Le programme</p><br>
            <p ><img class="img" src="{{ asset('build/images/buttons/peoples.png') }}">Faire-Part</p><br>
            <p ><img class="img" src="{{ asset('build/images/buttons/trans.png') }}">Faire un direct</p><br>
        </div>
        <div class="diary-wrapper">
            <i class="fas fa-quote-left"></i>
                <p contenteditable="true" id="eventDescription" value="test" onblur="update(this, {{ event.id }})">
                    {{ event.eventDescription }}
                </p>
                <i class="fas fa-pencil-alt"></i>
            <i class="fas fa-quote-right"></i>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{{ asset('/diary.js') }}"></script>
{% endblock %}