{% extends 'component/_diary.html.twig' %}

{% block title %}Mariage{{ parent() }}{% endblock %}

{% block banner %}
    <!--Journal banner -->
    <div class="diary-banner">
        <div id="wedding-image">
            
            {% if event.eventPicture is null %}
                <img class="img" src="{{ asset('build/images/banner/WeddingDefault.png') }}"  alt="Diary wedding banner">
            {% else %}
                <img src="{{ asset('uploads/files/' ~ event.eventPicture ~ ' ') }}"  alt="Diary wedding banner">
            {% endif %}
            
                <img src="{{ asset('build/images/buttons/leftVector.png') }}">
                 </div> 
        </div>
        <div class="buttons">
                <button type="button" class="btn btn-light">Comment ça marche</button><br><br>
          
                <button type="button" class="btn btn-info">Compiler en livre d'or</button><br><br>
            
                <button type="button" class="btn btn-light">Ajouter les photos du jour</button><br>
        </div>
        <div class ="box">
            <br>
            <p >Gérer</p><br>
            <p >Liste des invités</p><br>
            <p >Le programme</p><br>
            <p >Faire-Part</p><br>
            <p >Faire un direct</p><br>
        </div>
        <div class="diary-wrapper">
            <i class="fas fa-quote-left"></i>
                <p contenteditable="true" id="eventDescription" value="test" onblur="update(this, {{ event.id }})">
                    {{ event.eventDescription }}
                </p>
                <i class="fas fa-pencil-alt"></i>
            <i class="fas fa-quote-right"></i>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{{ asset('/diary.js') }}"></script>
{% endblock %}