{% extends 'component/_diary.html.twig' %}

{% block title %}Mariage{{ parent() }}{% endblock %}

{% block banner %}
    <!--Journal banner -->
    <div class="diary-banner">
        <div id="wedding-image">
            {% if event.eventPicture is null %}
                <img class="img" src="{{ asset('build/images/banner/WeddingDefault.png') }}"  alt="Diary wedding banner">
            {% else %}
                <img src="{{ asset('uploads/files/' ~ event.eventPicture ~ ' ') }}"  alt="Diary wedding banner">
            {% endif %}
                
                 </div>
        </div>
        <div class="dateBox">
            <p>Date et heure</p>
            <p>Lundi 13 Juin 2021</p>
            <p>13h00 à 14h00</p>

        </div>

        
        <div class="buttons">
                <button type="button" class="btn btn-light"><img class="img" src="{{ asset('build/images/buttons/Vector1.png') }}"> Comment ça marche</button><br><br>
                <button type="button" class="btn btn-info"><img class="img" src="{{ asset('build/images/buttons/Vector.png') }}"> Compiler en livre d'or</button><br><br>
                <button type="button" class="btn btn-light"><img class="img" src="{{ asset('build/images/buttons/Vector2.png') }}"> Ajouter les photos du jour</button><br>
            </div>
        <div class="box">
            <br>
            <p >Gérer</p><br>
            <p >Liste des invités</p><br>
            <p >Le programme</p><br>
            <p >Faire-Part</p><br>
            <p >Faire un direct</p><br>
        </div>
        <div class="diary-wrapper">
            <i class="fas fa-quote-left"></i>
                <p contenteditable="true" id="eventDescription" value="test" onblur="update(this, {{ event.id }})">
                    {{ event.eventDescription }}
                </p>
                <i class="fas fa-pencil-alt"></i>
            <i class="fas fa-quote-right"></i>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{{ asset('/diary.js') }}"></script>
{% endblock %}