{% extends 'base.html.twig' %}

{% block title %}Deuil - Accueil
{% endblock %}


{% block body %}

	<div id="event-m" class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="jumbotron">
						<div class="info">
							<h1 class="display-3">Il arrive parfois que l'on ressente le besoin d'exprimer</h1>

							<p class="lead-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.

							</p>
						</div>

						<!-- rajouter les liens des boutons -->
						<div class="links-buttons">
							<a href="#" class="link">
								<div class="link-img link-img1"></div>
								<p>Créer un journal</p>
							</a>

							<a href="#" class="link">
								<div class="link-img link-img2"></div>
								<p>Rétro-planning</p>
							</a>

							<a href="#" class="link">
								<div class="link-img link-img3"></div>
								<p>Faire-part</p>
							</a>

							<a href="#" class="link">
								<div class="link-img link-img4"></div>
								<p>Faire un direct</p>
							</a>

							<a href="#" class="link">
								<div class="link-img link-img5"></div>
								<p>Prestataire</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<section class="container-fluid section-1">
		<img src="/build/images/content/rose.fd573497.png" alt="" class="title-img"/>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="jumbotron">
						<h3 class="event-title">Créer un journal</h3>
						<h2>Créer un évenement interactif</h2>

						<p class="lead-s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen boot. It has survived not only five centuries, but also the leap into electronic typesetting, remaining.
						</p>

						<p class="lead">
							<a class="btn btn-warning btn-lg btm" href="#" role="button">Créer maintenant</a>
						</p>
					</div>
				</div>

				<div
					class="col-md-6">
					<!-- rajouter lien de l'image / alt -->
					<img src="{{ asset('build/images/content/group.eb21807c.png') }}" alt="image description"/>
				</div>
			</div>
		</div>
	</section>

	<section class="container-fluid section-2">
		<div class="group-left">
			<img src="{{ asset('build/images/content/group-left.9c9c6b00.png') }}" class="img-fluid" alt="image description"/>
		</div>
		<div class="container">
			<div class="row">
				<div
					class="col-md-6">

				</div>

				<div class="col-md-6">
					<div class="jumbotron">
						<h3 class="event-title">Rétro planning</h3>
						<h2>Organiser des obsèques</h2>

						<p class="lead-s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen boot. It has survived not only five centuries, but also the leap into electronic typesetting, remaining.
						</p>

						<p class="lead">
							<a class="btn btn-warning btn-lg btm" href="#" role="button">Je commence avec la première tâche</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container-fluid section-3">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="jumbotron">
						<h3 class="event-title">Faire-part</h3>
						<h2>Gestion des invités</h2>

						<p class="lead-s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen boot. It has survived not only five centuries, but also the leap into electronic typesetting, remaining.
						</p>

						<p class="lead">
							<a class="btn btn-warning btn-lg btm" href="#" role="button">Créer maintenant</a>
						</p>
					</div>
				</div>

				<div
					class="col-md-6">
					<!-- rajouter lien de l'image / alt -->
					<img src="{{ asset('build/images/content/group.eb21807c.png') }}" alt="image description"/>
				</div>
			</div>
		</div>
	</section>

	<section class="container-fluid section-4">
		<div class="group-left">
			<img src="{{ asset('build/images/content/group-left.9c9c6b00.png') }}" alt="image description"/>
		</div>
		<div class="container">
			<div class="row">
				<div
					class="col-md-6">

				</div>

				<div class="col-md-6">
					<div class="jumbotron">
						<h3 class="event-title">Faire un direct</h3>
						<h2>Créer un évènement interactif</h2>

						<p class="lead-s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen boot. It has survived not only five centuries, but also the leap into electronic typesetting, remaining.
						</p>

						<p class="lead">
							<a class="btn btn-warning btn-lg btm" href="#" role="button">Je commence maintenant</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container-fluid section-5">
		<div id="event-bottom">
			<div class="container-bottom">
				<div class="row">
					<div class="col-md-6">
						<div class="jumbotron">
							<h3 class="event-bottom">A voir aussi</h3>
							<h2 class="event-bottom-h2">Autre évènement intéractif</h2>
						</div>
					</div>

					<div
						class="col-md-6">
						<!-- rajouter lien de l'image / alt -->
						<div class="links-buttons">
								<a href="{{ path('wedding_index') }}" class="link">
									<div class="link-img link-img6"></div>
									<p>Mariage</p>
								</a>

								<a href="{{ path('birthday_index') }}" class="link">
									<div class="link-img link-img7"></div>
									<p>Anniversaire</p>
								</a>

								<a href="{{ path('mourning_index') }}" class="link">
									<div class="link-img link-img8"></div>
									<p>Deuil</p>
								</a>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}