{# Here goes the header (nav) #}
<div class="container-fluid eventoo-header">
	<header class="d-flex flex-wrap justify-content-center py-3 px-5 ">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
			<span class="fs-4">Even<span class="t">t</span>oo</span>
		</a>
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a href="#" class="nav-link" aria-current="page">Comment ça marche</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">Qui sommes-nous</a>
			</li>

			{% if not app.user %}
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="image/png" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="{{ asset('build/images/utilisateur.fc004123.png') }}">
					</button>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
						<li>
							<a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>

						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_register') }}">S'inscrire</a>

						</li>
					</ul>
				</div>

			{% else %}

				<div class="dropdown">

					<button class="btn btn-secondary dropdown-toggle initials" type="image/png" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
							{{ app.user.fullName|slice(0, 1) }}
					</button>

					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
						<li>
							<a class="dropdown-item" onclick="logoutConfirm()">Se déconnecter</a>
						</li>
						<input type="hidden" id="profile" value="{{ path('security_logout') }}">
					</ul>
				</div>
				{% endif %}
		</ul>


	</header>
</div>

	<script>
		function logoutConfirm()
		{
		var confirmation = confirm("Etes vous sûr(e) de vous déconnecter ?");
		if(confirmation == true) {
			const profileId = document.getElementById('profile').value;
			console.log(profileId);
			const route = "{{ path('security_logout')|escape('js') }}";
			document.location.href= route
			}
		}
	</script>

