<div class="diary-form-control">

    {{ form_start(form, {'attr': {'class': 'diary-form'}}) }}

        {{ form_widget(form.messageText, {'attr': {
            'placeholder': 'De quoi souhaitez-vous parler?...',
            'class': 'diary-form-text'
        }}) }}
        <small>{{ form_help(form.messageText) }}</small>
        <div class="form-error">
            {{ form_errors(form.messageText) }}
        </div>

        <div class="diary-bottom">
            <div class="diary-media">
                {#{ form_label(form.mediaUrl) }#}
                {{ form_widget(form.mediaUrl) }}
                <small>{{ form_help(form.mediaUrl) }}</small>
                <div class="form-error">
                    {{ form_errors(form.mediaUrl) }}
                </div>
            </div>
            <button id="diary-send-btn" type="submit">
                <img src="{{ asset('build/images/send-button.svg') }}" alt=""/>
            </button>
        </div>
    {{ form_end(form) }}
</div>