<div class="diary-message">
	<div class="diary-message-container">
		<div class="diary-message-author">
			<div class="avatar">
				<div class="img-avatar">
				{% if message.getUser is defined  %}
					<div>
						<img class="img" src="{{ message.getUser.avatar }}">
					</div>
					<div>
						<span>{{ message.getUser.lastname }}</span> <br>
						<small>
								{% if message.datetime != null %}
									{{ event.getDateFr() }}
								{% endif %}
						</small>
					</div>
				</div>
				<p>
					{{ message.comment }}
				</p>
			</div>
			{% if message.url is not empty %}
			<div class="diary-message-media">
				<img src="{{ asset('uploads/files/' ~ message.url ~ ' ') }}" alt="">
			</div>
			{% endif %}
		{% endif %}
		</div>
	</div>
</div>
